$root: '.c-scrolling-text-section';

#{$root} {
  overflow: hidden;
  text-align: center;

  &__text {
    margin: 0;
    line-height: 1;
    color: transparent;
    @include font-size(168px);
    font-family: $global-header-font-family;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba($global-text-color, .2);
    white-space: nowrap;

    & + & { margin-top: 16px; }
  }
}

@include laptop {
  #{$root} {
    &__text {
      @include font-size(136px);
    }
  }
}


@include phablet {
  #{$root} {
    &__text {
      @include font-size(112px);
    }
  }
}